@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de jogos</h1>
    <p>Indique e crie uma lista personalizada com seus gostos para jogos</a>.</p>
</div>
